@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <title>BBSM Garage - Bize Ulaşın</title>
    <link rel="icon" href="/bbsm.ico" /> 
</head>

<body>
<div class="p-6 pt-8 lg:ml-64 ">
  <div class="p-6 mt-20 bg-my-beyaz rounded-3xl items-center">
    <div class="grid gap-6 mt-8 mb-4 md:grid-cols-3 text-center">
        <div class="w-full">
          <p class="text-my-siyah text-3xl font-bold mb-4">Firma Adı</p>
          <p class="text-my-beyaz bg-my-siyah shadow-lg p-2 text-xl text-center font-bold rounded-full">BBSM Technology</p>
          <a class="text-my-beyaz bg-gradient-to-r from-lime-500 to-sky-500  shadow-lg pl-8 p-2 pr-8 text-center text-xl font-bold rounded-full" target="_blank" href="http://www.bbsm.tech/">Tıkla</a>
        </div>
        <div class="w-full">
          <p class="text-my-siyah text-3xl font-bold mb-4">Telefon Numarası</p>
          <p class="text-my-beyaz shadow-lg  bg-my-siyah p-2 text-center font-bold text-xl m-4 rounded-full"> Bilal ORHANLAR : +90 553 323 1993</p>
        </div class="inline-block align-middle">
        <div class="w-full">
          <p class="text-my-siyah text-3xl font-bold mb-4">Telefon Numarası</p>
          <p class="text-my-beyaz shadow-lg  bg-my-siyah p-2  font-bold text-xl m-4 rounded-full"> Samet YILDIRIM : +90 553 670 20 40</p>
        </div>
    </div>
  </div>
</div>

<div class="p-6 pt-8 lg:ml-64 ">
  <div class="p-6  bg-my-beyaz rounded-3xl items-center ">
      <div class="w-full">
        <p class="text-my-siyah p-2 text-xl text-center font-bold rounded-full">BBSM Technology</p>
      </div>
    <img src="~/images/bbsmlogo.jpg" class="mx-auto border-4 border-my-edbeyaz rounded-3xl mt-8 mb-4" alt="logo" />
  </div>
</div>
    
<script>
    
</script>
</body>
</html>