@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    
*@
@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <title>BBSM Garage - Kayıt Ol</title>
    <link rel="icon" href="/bbsm.ico" /> 
</head>

<div class="w-full h-200">
  <img src="~/images/home.jpg" class="w-full object-center object-cover max-h-screen" alt="logo" />
  <div class="absolute inset-0 flex items-center justify-center">
    <div class="bg-my-siyah border-2 border-my-4b4b4bgri bg-opacity-50 backdrop-blur-sm p-8 rounded-3xl shadow-lg max-w-sm w-full flex flex-col items-center justify-center ">
    <h1 class="p-4 font-extrabold text-transparent text-3xl bg-clip-text bg-gradient-to-r from-my-açıkgri to-my-beyaz">BBSM Tech</h1>
      <h2 class="text-xl font-bold text-my-açıkgri mb-4 text-center">Kayıt Olmak İçin Bize Ulaşın</h2>
      <div class="text-center w-full">
        <p class="w-full text-2xl p-1 font-thin mb-4 rounded-xl text-my-beyaz bg-my-4b4b4bgri border border-my-açıkgri">www.bbsm.tech</p>
        <p class="w-full text-2xl p-1 font-thin mb-4 rounded-xl text-my-beyaz bg-my-4b4b4bgri border border-my-açıkgri">info@bbsmtech</p>
        <p class="w-full text-2xl p-1 font-thin mb-4 rounded-xl text-my-beyaz bg-my-4b4b4bgri border border-my-açıkgri">+90 553 323 1993</p>
        <p class="w-full text-2xl p-1 font-thin mb-4 rounded-xl text-my-beyaz bg-my-4b4b4bgri border border-my-açıkgri">+90 553 670 2040</p>
      </div>
      <button href="/" class="w-1/2 text-center p-2 ml-2 font-semibold rounded-xl border-2 border-my-4b4b4bgri bg-my-siyah text-my-beyaz transition duration-500 ease-in-out hover:bg-my-4b4b4bgri"><p class="font-extrabold text-transparent text-lg bg-clip-text bg-gradient-to-r from-blue-400 to-blue-900">Geri Dön</p></button>
    </div>
  </div>
</div>